.icon_dkbct {
    display: inline-block;
   
    background-image: url('https://phongtro123.com/images/bo-cong-thuong.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}